<?xml version="1.0" encoding="UTF-8"?>
<Upgrades>

<Upgrade>
<id>Terminal</id>
<type>structure</type>
<desc>another desc</desc>
<Price>
<Resource>
<type>energy</type>
<amount>10</amount>
</Resource>
</Price>
<bought>0</bought>
<inc>1.2</inc>
<Dependencies>
</Dependencies>
</Upgrade>

<Upgrade>
<id>Quantum Generator</id>
<type>science</type>
<desc>a desc</desc>
<Price>
</Price>
<bought>0</bought>
<inc>1.2</inc>
<Dependencies>
<Dependency>Terminal</Dependency>
</Dependencies>
</Upgrade>

<Upgrade>
<id>Quantum Throttle</id>
<type>structure</type>
<desc>blah</desc>
<Price>
</Price>
<bought>0</bought>
<inc>1.4</inc>
<Dependencies>
<Dependency>Terminal</Dependency>
<Dependency>Quantum Generator</Dependency>
</Dependencies>
</Upgrade>

<Upgrade>
<id>Magnet</id>
<type>structure</type>
<desc>blah</desc>
<Price>
</Price>
<bought>0</bought>
<inc>1.4</inc>
<Dependencies>
</Dependencies>
</Upgrade>

<Upgrade>
<id>GPS Firmware</id>
<type>software</type>
<desc>blah</desc>
<Price>
</Price>
<bought>0</bought>
<inc>1.4</inc>
<Dependencies>
</Dependencies>
</Upgrade>

<Upgrade>
<id>Kinetic pusher firmware</id>
<type>software</type>
<desc>blah</desc>
<Price>
</Price>
<bought>0</bought>
<inc>1.4</inc>
<Dependencies>
</Dependencies>
</Upgrade>

<Upgrade>
<id>Quantum Magnetism</id>
<type>science</type>
<desc>blah</desc>
<Price>
</Price>
<bought>0</bought>
<inc>1.4</inc>
<Dependencies>
</Dependencies>
</Upgrade>

<Upgrade>
<id>Quantum Expulsion</id>
<type>science</type>
<desc>blah</desc>
<Price>
</Price>
<bought>0</bought>
<inc>1.4</inc>
<Dependencies>
</Dependencies>
</Upgrade>

<Upgrade>
<id>Kinetic Power</id>
<type>structure</type>
<desc>blah</desc>
<Price>
</Price>
<bought>0</bought>
<inc>1.4</inc>
<Dependencies>
</Dependencies>
</Upgrade>

<Upgrade>
<id>Quantic Coil</id>
<type>incremental</type>
<desc>blah</desc>
<Price>
</Price>
<bought>0</bought>
<inc>1.4</inc>
<Dependencies>
</Dependencies>
</Upgrade>

<Upgrade>
<id>Quantum Joule Cell</id>
<type>incremental</type>
<desc>blah</desc>
<Price>
</Price>
<bought>0</bought>
<inc>1.4</inc>
<Dependencies>
</Dependencies>
</Upgrade>

<Upgrade>
<id>Quantum Conductor</id>
<type>structure</type>
<desc>blah</desc>
<Price>
</Price>
<bought>0</bought>
<inc>1.4</inc>
<Dependencies>
</Dependencies>
</Upgrade>

<Upgrade>
<id>Quantum Synergy</id>
<type>science</type>
<desc>blah</desc>
<Price>
</Price>
<bought>0</bought>
<inc>1.4</inc>
<Dependencies>
</Dependencies>
</Upgrade>

</Upgrades>

<Resources>
<Resource>
<type>Knowledge</type>
<amount>4</amount>
</Resource>
<Resource>
<type>Lines of code</type>
<amount>100</amount>
</Resource>
<Resource>
<type>Energy</type>
<amount>10</amount>
</Resource>
</Resources>
